<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="d-flex flex-column px-3 pt-2 text-white min-vh-100">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 " id="menu" [class.text-right]="sharedService.alignRight">
            <li class="nav-item">
                <a href="#" class="nav-link align-middle px-0">
                    <i class="fa fa-user"></i>
                    <span class="ms-1 d-none d-sm-inline">
                        {{ 'username' | translate}}
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link align-middle px-0">
                    <i class="fa fa-paypal"></i>
                    <span class="ms-1 d-none d-sm-inline">
                        {{ 'password' | translate}}
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link align-middle px-0">
                    <i class="fa fa-certificate"></i>
                    <span class="ms-1 d-none d-sm-inline">
                        {{ 'quote' | translate}}
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link align-middle px-0">
                    <i class="fa fa-cc-visa"></i>
                    <span class="ms-1 d-none d-sm-inline">
                        {{ 'payment' | translate}}
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link align-middle px-0">
                    <i class="fa fa-tags"></i>
                    <span class="ms-1 d-none d-sm-inline">
                        {{ 'policy' | translate}}
                    </span>
                </a>
            </li>
        </ul>
        <hr>
    </div>
</div>